<a href="https://colab.research.google.com/github/khoang16/tim50/blob/main/TIM50_Kim_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ipython-sql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.8/dist-packages (0.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (1.4.46)
Requirement already satisfied: prettytable in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 35.6 MB/s eta 0:00:00
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.18.2

In [ ]:
import sqlalchemy

In [ ]:
engine = sqlalchemy.create_engine('sqlite:///myDB.db')

In [ ]:
con = engine.raw_connection()

In [ ]:
cursor = con.cursor()

In [ ]:
cursor.execute( "CREATE TABLE flights (ID INTEGER, Name TEXT, Origin TEXT, Destination TEXT);" )

In [ ]:
cursor.execute("INSERT INTO flights VALUES ('20', 'UA', 'San Jose', 'London');")

In [ ]:
con.commit()

In [ ]:
cursor.execute("INSERT INTO flights VALUES ('21', 'UB', 'New York', 'London');")

In [ ]:
con.commit()

In [ ]:
cursor.execute("INSERT INTO flights VALUES ('22', 'UC', 'San Jose', 'London');")

In [ ]:
con.commit()

In [ ]:
cursor.execute("INSERT INTO flights VALUES ('23', 'UD', 'San Diego', 'Singapore');")

In [ ]:
con.commit()

In [ ]:
cursor.execute("INSERT INTO flights VALUES ('24', 'UE', 'Orlando', 'Miami');")

In [ ]:
con.commit()

In [ ]:
cursor.execute("INSERT INTO flights VALUES ('25', 'UF', 'Los Angeles', 'Miami');")

In [ ]:
con.commit()

In [ ]:
for row in cursor.execute("SELECT * FROM flights;"): print(row)

(20, 'UA', 'San Jose', 'London')
(21, 'UB', 'New York', 'London')
(22, 'UC', 'San Jose', 'London')
(23, 'UD', 'San Diego', 'Singapore')
(24, 'UE', 'Orlando', 'Miami')
(25, 'UF', 'Los Angeles', 'Miami')

In [ ]:
cursor.execute( "CREATE TABLE Specification (specID INTEGER, SeatQuantity INTEGER, Type TEXT, ID INTEGER);" )

In [ ]:
cursor.execute("INSERT INTO Specification VALUES ('1', '500', 'Commercial', '20');")

In [ ]:
con.commit()

In [ ]:
cursor.execute("INSERT INTO Specification VALUES ('2', '200', 'Commercial', '21');")

In [ ]:
con.commit()

In [ ]:
cursor.execute("INSERT INTO Specification VALUES ('3', '100', 'Charter', '22');")

In [ ]:
con.commit()

In [ ]:
cursor.execute("INSERT INTO Specification VALUES ('4', '10', 'Private', '23');")

In [ ]:
con.commit()

In [ ]:
for row in cursor.execute("SELECT * FROM Specification;"): print(row)

(1, 500, 'Commercial', 20)
(2, 200, 'Commercial', 21)
(3, 100, 'Charter', 22)
(4, 10, 'Private', 23)

In [ ]:
q = """SELECT flights.ID, flights.Name, flights.Origin, flights.Destination, Specification.specID, Specification.SeatQuantity, Specification.Type 
FROM flights 
INNER JOIN Specification
ON flights.ID = Specification.ID;"""
for row in cursor.execute(q): print(row)

(20, 'UA', 'San Jose', 'London', 1, 500, 'Commercial')
(21, 'UB', 'New York', 'London', 2, 200, 'Commercial')
(22, 'UC', 'San Jose', 'London', 3, 100, 'Charter')
(23, 'UD', 'San Diego', 'Singapore', 4, 10, 'Private')

In [ ]:
q = """SELECT flights.ID, flights.Name, flights.Origin, flights.Destination, Specification.specID, Specification.SeatQuantity, Specification.Type 
FROM flights 
LEFT JOIN Specification
ON flights.ID = Specification.ID;"""
for row in cursor.execute(q): print(row)

(20, 'UA', 'San Jose', 'London', 1, 500, 'Commercial')
(21, 'UB', 'New York', 'London', 2, 200, 'Commercial')
(22, 'UC', 'San Jose', 'London', 3, 100, 'Charter')
(23, 'UD', 'San Diego', 'Singapore', 4, 10, 'Private')
(24, 'UE', 'Orlando', 'Miami', None, None, None)
(25, 'UF', 'Los Angeles', 'Miami', None, None, None)

In [ ]:
q= """SELECT SpecID, ID, SeatQuantity, Type FROM Specification WHERE SeatQuantity >= 100;"""
for row in cursor.execute(q): print(row)

(1, 20, 500, 'Commercial')
(2, 21, 200, 'Commercial')
(3, 22, 100, 'Charter')

In [ ]:
q = """SELECT Flights.ID, Flights.Name, Flights.Origin, Flights.Destination, Specification.specID, Specification.SeatQuantity, Specification.Type
FROM Flights LEFT JOIN Specification ON Flights.ID = Specification.ID
WHERE Specification.SeatQuantity > 100;"""
for row in cursor.execute(q): print(row)

(20, 'UA', 'San Jose', 'London', 1, 500, 'Commercial')
(21, 'UB', 'New York', 'London', 2, 200, 'Commercial')