<a href="https://colab.research.google.com/github/khoang16/tim50/blob/main/TIM50_Kim_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ipython-sql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.8/dist-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (1.4.46)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 16.6 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.18.2

In [ ]:
import sqlalchemy

In [ ]:
engine = sqlalchemy.create_engine('sqlite:///myDB.db')

In [ ]:
con = engine.raw_connection()

ERROR:sqlalchemy.pool.impl.NullPool:Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 763, in _finalize_fairy
    fairy._reset(pool, transaction_was_reset)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 1038, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140032992209984 and this is thread id 140032661702400.
ERROR:sqlalchemy.pool.impl.NullPool:Exception closing connection <sqlite3.Connection object at 0x7f5be3841990>
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 763, in _finalize_fairy
    fairy._reset(pool, transaction_was_reset)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 1038, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140032992209984 and this is thread id 140032661702400.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 260, in _close_connection
    self._dialect.do_terminate(connection)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/engine/default.py", line 689, in do_terminate
    self.do_close(dbapi_connection)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/engine/default.py", line 692, in do_close
    dbapi_connection.close()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140032992209984 and this is thread id 140032661702400.

In [ ]:
cursor = con.cursor()

In [ ]:
cursor.execute( "CREATE TABLE names (name TEXT, last_name TEXT);" )

In [ ]:
cursor.execute("INSERT INTO names VALUES ('John', 'Doe');")

In [ ]:
con.commit()

In [ ]:
for row in cursor.execute("SELECT * FROM names;"): print(row)

('John', 'Doe')

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('flights-2.csv')

In [ ]:
data.to_sql('flights', con, if_exists='append', index=False)

In [ ]:
for row in cursor.execute("SELECT * FROM flights LIMIT 10;"): print(row)

('12:10', 'MUC', '19:38', 'SFO', 'UA 907 ', '763', '1', 16, 28.0, 16.47, None)
('10:35', 'TPE', '8:06', 'SFO', 'UA 830 ', '777', '1', 13, 31.0, 13.52, None)
('15:15', 'SYD', '9:38', 'SFO', 'UA 870 ', '744', 'Non-Stop', 13, 23.0, 13.38, None)
('20:00', 'AKL', '11:15', 'SFO', 'NZ 008 ', '772', 'Non-Stop', 12, 15.0, 12.25, None)
('15:50', 'MUC', '19:00', 'SFO', 'LH 458 ', '346', 'Non-Stop', 12, 10.0, 12.17, None)
('15:50', 'MUC', '19:00', 'SFO', 'NZ 4658 ', '346', 'Non-Stop', 12, 10.0, 12.17, 1.0)
('15:50', 'MUC', '19:00', 'SFO', 'UA 8883 ', '346', 'Non-Stop', 12, 10.0, 12.17, 1.0)
('21:55', 'HKG', '17:55', 'SFO', 'SQ 2 ', '744', 'Non-Stop', 12, None, 12.0, None)
('16:30', 'HKG', '12:25', 'SFO', 'AA 6118 ', '744', 'Non-Stop', 11, 55.0, 11.92, 1.0)
('16:30', 'HKG', '12:25', 'SFO', 'CX 872 ', '744', 'Non-Stop', 11, 55.0, 11.92, None)

In [ ]:
for row in cursor.execute("PRAGMA table_info('flights');"): print(row)

(0, 'Depart_Time', 'TEXT', 0, None, 0)
(1, 'Origin', 'TEXT', 0, None, 0)
(2, 'Arrival_Time', 'TEXT', 0, None, 0)
(3, 'Destination', 'TEXT', 0, None, 0)
(4, 'Flight', 'TEXT', 0, None, 0)
(5, 'Aircraft', 'TEXT', 0, None, 0)
(6, 'Stops', 'TEXT', 0, None, 0)
(7, 'hours', 'INTEGER', 0, None, 0)
(8, 'minutes', 'REAL', 0, None, 0)
(9, 'duration', 'REAL', 0, None, 0)
(10, 'codeshare', 'REAL', 0, None, 0)

In [ ]:
command = "SELECT Depart_Time, Origin, Aircraft FROM flights LIMIT 10;"

In [ ]:
for row in cursor.execute(command): print(row)

('12:10', 'MUC', '763')
('10:35', 'TPE', '777')
('15:15', 'SYD', '744')
('20:00', 'AKL', '772')
('15:50', 'MUC', '346')
('15:50', 'MUC', '346')
('15:50', 'MUC', '346')
('21:55', 'HKG', '744')
('16:30', 'HKG', '744')
('16:30', 'HKG', '744')

In [ ]:
q= "SELECT Flight, Origin, duration FROM flights ORDER BY duration DESC LIMIT 10;"

In [ ]:
for row in cursor.execute(q): print(row)

('UA 907 ', 'MUC', 16.47)
('UA 830 ', 'TPE', 13.52)
('UA 870 ', 'SYD', 13.38)
('NZ 008 ', 'AKL', 12.25)
('LH 458 ', 'MUC', 12.17)
('NZ 4658 ', 'MUC', 12.17)
('UA 8883 ', 'MUC', 12.17)
('SQ 2 ', 'HKG', 12.0)
('AA 6118 ', 'HKG', 11.92)
('CX 872 ', 'HKG', 11.92)

In [ ]:
q= """SELECT Flight, Origin, duration FROM flights WHERE Destination = 'SFO'
and codeshare = 1 ORDER BY duration DESC LIMIT 10;"""

In [ ]:
for row in cursor.execute(q): print(row)

('NZ 4658 ', 'MUC', 12.17)
('UA 8883 ', 'MUC', 12.17)
('AA 6118 ', 'HKG', 11.92)
('US 6466 ', 'HKG', 11.72)
('LH 9052 ', 'FRA', 11.58)
('NZ 9801 ', 'FRA', 11.58)
('NZ 4654 ', 'FRA', 11.33)
('UA 8829 ', 'FRA', 11.33)
('NZ 9855 ', 'LHR', 11.22)
('NZ 9831 ', 'LHR', 11.22)

In [ ]:
df = pd.read_csv('aircrafts.csv')

In [ ]:
df.to_sql('aircrafts', con, if_exists='append', index=False)

In [ ]:
q= "SELECT * FROM aircrafts LIMIT 10;"

In [ ]:
for row in cursor.execute(q): print(row)

('737', 124)
('733', 124)
('319', 124)
('73G', 124)
('735', 104)
('318', 104)
('738', 150)
('320', 150)
('32S', 150)
('734', 150)

In [ ]:
q = "PRAGMA table_info('aircrafts');"

In [ ]:
for row in cursor.execute(q): print(row);

(0, 'Aircraft', 'TEXT', 0, None, 0)
(1, 'Seats', 'INTEGER', 0, None, 0)

In [ ]:
q = "DROP TABLE IF EXISTS flights;"

In [ ]:
cursor.execute(q) ;

In [ ]:
con.commit()